@model Post
<div class="col">
    <div class="card h-100">
        <img class="card-img-top" src="@Model.Image" />
        <div class="card-body">
            <h5 class="card-title">@Model.Name</h5>
            <p class="card-text">@Model.Price.ToString("c0")</p>
        </div>
    </div>
</div>