@model PostViewModel
@{
    ViewData["Title"] = "Yeni İlan Ekleme";
}

<h2>@ViewData["Title"]</h2>
<form method="post" enctype="multipart/form-data">
    <div ng-app="cascadeDistrictApp" ng-controller="ctrl" ng-init="init()">
        <div class="mb-3">
            <label asp-for="Name"></label>
            <input class="form-control" asp-for="Name" />
            <span asp-validation-for="Name"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Descriptions"></label>
            <textarea class="form-control" asp-for="Descriptions"></textarea>
            <span asp-validation-for="Descriptions"></span>
        </div>
        <div class="mb-3 col-12 col-lg-4">
            <label asp-for="DistrictId"></label>
            <div class="d-flex flex-column gap-2">
                <select id="Provinces" class="form-select" ng-change="getDistricts()" ng-model="selectedProvince" ng-options="province as province.name for province in provinces">
                    <option value="">[Seçiniz]</option>
                </select>
                <select class="form-select" ng-model="selectedDistrict" ng-change="setDistrict()" ng-options="district as district.name for district in districts"></select>
                <input type="hidden" name="DistrictId" id="DistrictId" />
            </div>
            <span asp-validation-for="DistrictId"></span>
        </div>
        <div class="mb-3 col-12 col-lg-4">
            <label asp-for="CategoryId"></label>
            <select class="form-control" asp-for="CategoryId" asp-items="ViewBag.Categories">
                <option disabled selected value="">[Seçiniz]</option>
            </select>
            <span asp-validation-for="CategoryId"></span>
        </div>
        <div class="mb-3 col-12 col-lg-4">
            <label asp-for="Type"></label>
            <select class="form-select" asp-items="Html.GetEnumSelectList<PostTypesView>()"></select>
            <span asp-validation-for="Type"></span>
        </div>
        <div class="mb-3 col-12 col-lg-4">
            <label asp-for="Price"></label>
            <input class="form-control" asp-for="Price" />
            <span asp-validation-for="Price"></span>
        </div>
        <div class="mb-3 col-12 col-lg-12">
            <div class="row row-cols-1 row-cols-lg-4 g-2">
                @foreach (var spec in ViewBag.Specs as IEnumerable<Specification>)
                {
                    <div class="col">
                        <input type="checkbox" name="Specs" value="@spec.Id" /> @spec.Name
                    </div>
                }
            </div>
        </div>
        <div class="mb-3 col-12 col-lg-4">
            <label asp-for="ImageFile"></label>
            <input class="form-control" type="file" accept="image/*" asp-for="ImageFile" />
        </div>
        <div class="mb-3 col-12 col-lg-4">
            <label asp-for="ImageFiles"></label>
            <input class="form-control" type="file" multiple accept="image/*" asp-for="ImageFiles" />
        </div>
        <div class="mb-3 col-12 col-lg-4">
            <label asp-for="Longitude"></label>
            <input class="form-control" asp-for="Longitude" readonly />
            <span asp-validation-for="Longitude"></span>
        </div>
        <div class="mb-3 col-12 col-lg-4">
            <label asp-for="Latitude"></label>
            <input class="form-control" asp-for="Latitude" readonly />
            <span asp-validation-for="Latitude"></span>
        </div>
        <div id="map" style="height: 400px;"></div>
        <hr />
        <div class="py-4">
            <button type="submit" class="btn btn-primary">Kaydet</button>
        </div>
    </div>
</form>
@section scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyACVMXgnUNSxEoyCxsXtdcKc3kC1xMFCPk&callback=initMap&v=weekly"
            defer></script>
    <script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.8.3/angular.min.js" integrity="sha512-KZmyTq3PLx9EZl0RHShHQuXtrvdJ+m35tuOiwlcZfs/rE7NZv29ygNA8SFCkMXTnYZQK2OX0Gm2qKGfvWEtRXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>

        function initMap() {
            const myLatlng = { lat: 39.9034367, lng: 32.4331054 };
            const map = new google.maps.Map(document.getElementById("map"), {
                zoom: 6,
                center: myLatlng,
            });
            const marker = new google.maps.Marker({
                position: myLatlng,
                map,
                title: "Konum",
            });

            map.addListener("click", (e) => {
                document.getElementById('Longitude').value = e.latLng.lng();
                document.getElementById('Latitude').value = e.latLng.lat();
                marker.setPosition(e.latLng);
            });
        }

        window.initMap = initMap;

        tinymce.init({ selector: 'textarea#Descriptions' });
        angular
            .module('cascadeDistrictApp', [])
            .controller('ctrl', ($scope, $http) => {

                $scope.provinces = [];

                $scope.init = () => {
                    $http
                        .get(`/home/getprovinces`)
                        .then((response) => {
                            $scope.provinces = response.data;
                        });
                }

                $scope.getDistricts = () => {
                    $http
                        .get(`/home/getdistricts/${$scope.selectedProvince.id}`)
                        .then((response) => {
                            $scope.districts = response.data;
                        });
                }

                $scope.setDistrict = () => {
                    $('#DistrictId').val($scope.selectedDistrict.id);
                }

            });
    </script>
}