@{
    ViewData["Title"] = "İlanlarım";
}

<h2>@ViewData["Title"]</h2>


<div class="py-2 d-flex justify-content-end">
    <a class="btn btn-primary" asp-action="CreatePost">
        <i class="bi bi-plus"></i>
        Yeni İlan Ekle
    </a>
</div>

<table class="table">
</table>